body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
    text-align: center;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8a9a9;
    padding: 15px 30px;
    border-radius: 30px;
    max-width: 80%;
    margin: 10px auto;
}

.navbar a {
    color: rgb(0, 0, 0);
    text-decoration: beige;
    margin: 0 15px;
    font-size: 18px;
} 

.navbar a:hover {
    text-decoration: underline;
}


fieldset {
    border: 2px solid #f8a9a9;
    border-radius: 10px;
    padding: 20px;
    max-width: 60%;
    margin: 20px auto;
    text-align: left;
}

legend {
    font-size: 22px;
    font-weight: bold;
    color: #ff7f7f;
}

input, select {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    display: inline-block;
    padding: 12px 20px;
    background-color: #ff7f7f;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}

button:hover {
    background-color: #e56f6f;
}


footer {
    background-color: #ff8c8c;
    color: white;
    table-layout: inherit;
    text-align: center;
    padding: 30px;
    margin-top: 40px;
}

.footer-name {
    font-size: 20px;
    font-weight: bold;
}

.contact-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 10px;
}

.contact-btn:hover {
    background-color: #f0f0f0;
}

